  /* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f8f8f8;
    color: #dcd0d0;
    background-image: url('./background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #060606;
    color: #dbd8d8;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #999696;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ffd700;
  }
  
  main {
    padding: 40px 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h1, h2, h3 {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  ul {
    margin-bottom: 20px;
  }

  #home {
    background-color: #210a58;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  #home h1 {
    color: #f2eaea;
    font-size: 30px;
    margin-bottom: 40px;
  }


  #home h2 {
    color: #f2eaea;
    font-size: 24px;
    margin-bottom: 40px;
  }

  #home p {
    color: #959595;
    text-align: top;
    font-size: 16px;
    line-height: 1.;
    padding: 20px;
  }

  #about {
    background-color: #210a58;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #about h2 {
    color: #f2eaea;
    font-size: 24px;
    margin-bottom: 20px;
  }

  #services {
    background-color: #210a58;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #services h2 {
    color: #f2eaea;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #services ul {
    color: #959595;
    text-align: top;
    font-size: 16px;
    line-height: 1.;
    padding: 20px;
  }
  

  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #ffd700;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust the height as needed */
  }

  .my-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #5b57c3;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .my-button:hover {
    background-color: #edd5b2;
    cursor: pointer;
  }

